{% extends "apply_model/base.html" %}
{% block content %}    
    <div class="container-fluid">            
        <div class="row" id="features">
            <div class="col-lg-4">
                <div class="box">
                    <br/>
                    <br/>
                    <h2 align="center">How it works</h2>
                    <br/>
                    <br/>
                    <div class="middle_icons">
                        <button id="jumptoMan" type="button" class="btn btn-default">
                            <i class="box_buttons">Manual</i>                          
                        </button>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <br/>
                    <br/>
                    <h2 align="center">What it does</h2>
                    <br/>
                    <br/>
                    <div class="middle_icons">
                        <button id="jumptoLit" type="button" class="btn btn-default action-button">
                            <i class="box_buttons">Help</i>                          
                        </button>
                    </div>                    
                </div>                
            </div>
            <div class="col-lg-4">
                <div class="box">
                    <br/>
                    <br/>
                    <h2 align="center">Start using</h2>
                    <br/>
                    <br/>
                    <div class="middle_icons">
                        <button id="jumptoReg" type="button" class="btn btn-default action-button">
                            <i class="box_buttons">Here</i>                          
                        </button>
                    </div>                    
                </div>                
            </div>
        </div>        
    </div>
{% endblock content %}