{% extends "apply_model/base.html" %}
{% block content %}
{% load static %}

    <div class="row">

        <!--  4 columns wide -->
        <div class="col-md-4">                    
            
            <!-- Create a box and include selection options -->
            <form name="prediction_form" method="POST" action="/predict_upload/" enctype="multipart/form-data" target="">
                {% csrf_token %}
                <div class="form-group well">
                        <br/>         
                        <label for="exampleFormControlFile1">Upload a .sav file</label>
                        <input  style="max-width: 500px" type="file" class="form-control-file" id="exampleFormControlFile1" name="prediction_model">
                        <br/>
                        <br/>         
                        <label for="exampleFormControlFile1">Upload a .csv file</label>
                        <input  style="max-width: 500px" type="file" class="form-control-file" id="exampleFormControlFile1" name="prediction_dataset">
                        <br/>
                        <br/>
                        <input type="submit" name="predict_values" id="predict_values" value="Predict">
                </div>
            
            </form>
        
        </div>
    
    </div>

{% endblock content %}