{% extends "apply_model/base.html" %}
{% block content %}
    <div class="container-fluid">                
        
        <form name="regression_form" method="POST" action="/upload/" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            
            <div class="row">

                <!--  4 columns wide -->
                <div class="col-md-4">                    
                    
                    <!-- Create a box and include selection options -->
                    <div class="form-group well">
                        
                        <h4 style="text-align: center;">Method selection</h4>
                        <!-- <br/>
                        <a href="{% url 'apply_model-predict' %}">Predict section</a> -->
                        <br/>
                        Choose a regression method
                        <select name="regression_method" class="custom-select" style="max-width: 500px" id="select_method" onchange="changeHyperparameters()">                            
                            <option selected value="linear_regression">Linear Regression</option>
                            <option value="decision_tree">Decision Tree</option>                
                            <option value="mlp">Multi-Layer Perceptron</option>                
                            <option value="random_forest">Random Forest</option> 
                            <option value="svr">Support Vector Regression</option> 
                        </select>
                        <br/>
                        <br/>
                        <br/>   
                        Choose a fitting approach
                        <select name="regression_approach" class="custom-select mb-3" style="max-width: 500px" id="select_approach" onchange="approachParameters()">                            
                            <option selected value="full_training">Full training</option>
                            <option value="train_test">Training/Testing validation</option>                
                            <option value="kfold">KFold validation</option>
                            <option value="repeated_kfold">Repeated KFold validation</option>
                            <option value="grid_search">Grid Search</option>
                        </select>  
                        <!-------------------Training/Testing---------------->
                        <div id="train_test_approach_parameters" class="row" style="display: none;">                                                                               
                            <div class="col-6" style="text-align:center;" id="train_test_parameter_train_size" >                                       
                                train_size
                                <hr/>                             
                                <input type="text" name="train_test_train_size" value="0.8" style="max-width: 50px;">                                                        
                            </div>
                            <div class="col-6" style="text-align:center" id="train_test_parameter_parameter_seed" >
                                seed
                                <hr/>                           
                                <input type="number text" name="train_test_seed" value="1" style="max-width: 50px;">
                            </div>                                                   
                        </div>  
                        <!--------------------------------------------------->

                        <!-------------------KFold validation---------------->                        
                        <div id="kfold_approach_parameters" class="row" style="display: none;">                                                                               
                            <div class="col-6" style="text-align:center;" id="kfold_parameter_n_splits" >                                       
                                n_splits
                                <hr/>                             
                                <input type="number" name="kfold_n_splits" value="5" style="max-width: 50px;">                                                        
                            </div>
                            <div class="col-6" style="text-align:center" id="kfold_parameter_seed" >
                                seed
                                <hr/>                           
                                <input type="number text" name="kfold_seed" value="1" style="max-width: 50px;">
                            </div>                                                   
                        </div>  
                        <!--------------------------------------------------->

                        <br/>
                        
                        <!-------------------Reapeated KFold----------------->
                        <div id="repeated_kfold_approach_parameters" class="row" style="display: none;">                            
                            <div class="col-6" style="text-align: center;" id="repeated_kfold_parameter_n_repeats">
                                n_repeats
                                <hr/>
                                <input type="number" name="repeated_kfold_n_repeats" style="max-width: 50px;" value="5">
                            </div>                            
                        </div>        
                        <!--------------------------------------------------->
                        
                        <br/>
                        <br/>
                        <br/>         
                        <label for="exampleFormControlFile1">Upload a .csv file</label>
                        <input  style="max-width: 500px" type="file" class="form-control-file" id="exampleFormControlFile1" name="regression_dataset">
                        <br/>
                        <br/>
                        <br/>                        
                        <input type="submit" id="fitmodel" name="fitmodel" value="Run"/>                 
                    </div>

                </div>
                
                <div class="col-md-1">
                </div>
                
                <!--  4 columns wide -->
                <div class="col-md-7">

                    <div class="form-group well">
                        <h4 style="text-align: center;">Hyperparameter selection</h4>                                                
                        <br/>                        
                        <!-------------Linear Regression Parameters---------->
                        <div id="linear_regression_parameters" style="display: block">
                            <hr/>
                            <b>fit_intercept:</b> whether to calculate the intercept for this model. If set
                            to False, no intercept will be used in calculations. 
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="linear_fit_intercept_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="linear_fit_intercept_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <select name="linear_fit_intercept" id="linear_fit_intercept" class="custom-select" style="max-width: 250px;">
                                <option selected value="True">True</option>
                                <option value="False">False</option>
                            </select>
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="linear_fit_intercept_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                        </div>
                        <!--------------------------------------------------->

                        <!-------------Decision Tree Parameters-------------->
                        <div id="decision_tree_parameters" style="display: none">
                            <hr/>
                            <b>criterion:</b> The function to measure the quality of a split.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_criterion_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_criterion_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <select name="decision_tree_criterion" id="decision_tree_criterion" class="custom-select" style="max-width: 250px;">
                                <option selected value="mse">Mean Squared Error</option>
                                <option value="friedman_mse">MSE with Friedman score</option>
                                <option value="mae">Mean Absolute Error</option>
                            </select>
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_criterion_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                            <hr/>
                            <b>splitter:</b> The strategy used to choose the split at each node.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_splitter_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_splitter_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <select name="decision_tree_splitter" id="decision_tree_splitter" class="custom-select" style="max-width: 250px;">
                                <option selected value="best">Best split</option>
                                <option value="random">Random split</option>                                
                            </select>
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_splitter_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                            <hr/>
                            <b>max_depth:</b> The maximum depth of the tree. Can take <strong>integer</strong>                             
                            values or <strong>None</strong>. If None, then the nodes are expanded until all leaves
                            are pure or until all leaves contain less than min_samples_split samples.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_max_depth_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_max_depth_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <input type="text number" name="decision_tree_max_depth" id="decision_tree_max_depth" value="None">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_max_depth_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>min_samples_split:</b> The minimum number of samples required to split an 
                            internal node. Takes <strong>integer</strong> and/or <strong>float</strong> (decimal) values.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_min_samples_split_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_min_samples_split_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <input type="number" name="decision_tree_min_samples_split" id="decision_tree_min_samples_split" value="2">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_min_samples_split_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->     
                            <hr/>
                            <b>min_samples_leaf:</b> The minimum number of samples required to be at a leaf node. 
                            Takes <strong>integer</strong> and/or <strong>float</strong> (decimal) values.                            
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_min_samples_leaf_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_min_samples_leaf_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="number" name="decision_tree_min_samples_leaf" id="decision_tree_min_samples_leaf" value="1">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_min_samples_leaf_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                                 
                            <hr/>
                            <b>max_leaf_nodes:</b> Grow a tree with max_leaf_nodes in best-first fashion. Best nodes are 
                            defined as relative reduction in impurity. If None then unlimited number of leaf nodes.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_max_leaf_nodes_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_max_leaf_nodes_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                                         
                            <br/>
                            <input type="text number" name="decision_tree_max_leaf_nodes" id="decision_tree_max_leaf_nodes" value="None">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_max_leaf_nodes_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->  
                            <hr/>  
                            <b>max_features:</b> The number of features to consider when looking for the best
                            split. Can take <strong>integer</strong> values and some functions.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="decision_tree_max_features_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="decision_tree_max_features_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <ul>
                                <li>If integer, then consider that number</li>
                                <li>If <i>auto</i>, then consider all the features</li>
                                <li>If <i>sqrt</i>, then consider the square root of the provided number ( e.g. sgrt(5) )</li>
                                <li>If <i>log2</i> then consider the logarithm with base 2 of the provided number ( e.g log2(3) )</li>                                
                            </ul>
                            <br/>
                            <input type="text number" name="decision_tree_max_features" id="decision_tree_max_features" value="auto">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="decision_tree_max_features_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                                                         
                        </div>                        
                        <!--------------------------------------------------->

                        <!------------------MLP Parameters------------------->
                        <div id="mlp_parameters" style="display: none">
                            <hr/>
                            <b>hidden_layer_sizes:</b> The ith element represents the number of
                            neurons in the ith hidden layer.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="mlp_hidden_layer_sizes_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="mlp_hidden_layer_sizes_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <input type="number text" name="mlp_hidden_layer_sizes" id="mlp_hidden_layer_sizes" value="100,">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="mlp_hidden_layer_sizes_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                  
                            <hr/>
                            <b>activation:</b> Activation function for the hidden layer(s).
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="mlp_activation_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="mlp_activation_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <select name="mlp_activation" id="mlp_activation" class="custom-select" style="max-width: 250px;">
                                <option selected value="relu">ReLU</option>
                                <option value="identity">Identity</option>
                                <option value="logistic">Logistic sigmoid function</option>
                                <option value="tanh">Hyperbolic tan function</option>                                
                            </select>
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="mlp_activation_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>solver:</b> The solver of the optimization.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="mlp_solver_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="mlp_solver_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <select name="mlp_solver" id="mlp_solver" class="custom-select" style="max-width: 250px;">
                                <option selected value="adam">adam: Stochastic gradient-based</option>
                                <option value="lbfgs">lbfgs</option>
                                <option value="sgd">sgd: Stochastic gradient descent</option>                                
                            </select>
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="mlp_solver_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                                                        
                            <hr/>
                            <b>alpha:</b> L2 penalty (regularization term) parameter.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="mlp_alpha_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="mlp_alpha_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="text" name="mlp_alpha" id="mlp_alpha" value="0.0001">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="mlp_alpha_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                            <hr/>
                            <b>max_iter:</b> Maximum number of iterations. The solver iterates
                            until convergence (determined by "tol") or this number of iterations.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="mlp_max_iter_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="mlp_max_iter_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <input type="number" name="mlp_max_iter" id="mlp_max_iter" value="200">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="mlp_max_iter_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                            <hr/>
                            <b>tol:</b> Tolerance for the optimization. 
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="mlp_tol_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="mlp_tol_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="text" name="mlp_tol" id="mlp_tol" value="0.0001">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="mlp_tol_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                        </div>
                        <!--------------------------------------------------->
                        
                        <!-------------Random Forest Parameters-------------->
                        <div id="random_forest_parameters" style="display: none">
                            <hr/>
                            <b>n_estimators:</b> The number of trees in the forest.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="random_forest_n_estimators_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="random_forest_n_estimators_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                                                                     
                            <br/>
                            <input type="number" name="random_forest_n_estimators" id="random_forest_n_estimators" value="100">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="random_forest_n_estimators_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->   
                            <hr/>
                            <b>criterion:</b> The function to measure the quality of a split.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="random_forest_criterion_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="random_forest_criterion_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                                                                                                 
                            <br/>
                            <select name="random_forest_criterion" id="random_forest_criterion" class="custom-select" style="max-width: 250px;">
                                <option selected value="mse">Mean Squared Error</option>
                                <option value="mae">Mean Absolute Error</option>
                            </select>     
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="random_forest_criterion_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>max_depth:</b> The maximum depth of the tree. Can take <strong>integer</strong> 
                            values or <strong>None</strong>. If None, then the nodes are expanded until all leaves
                            are pure or until all leaves contain less than min_samples_split samples.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="random_forest_max_depth_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="random_forest_max_depth_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                                                                                                 
                            <br/>
                            <input type="text number" name="random_forest_max_depth" id="random_forest_max_depth" value="None">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="random_forest_max_depth_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                                
                            <hr/>
                            <b>min_samples_split:</b> The minimum number of samples required to split an 
                            internal node. Takes <strong>integer</strong> and/or <strong>float</strong> (decimal) values.                            
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="random_forest_min_samples_split_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="random_forest_min_samples_split_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                                                                                                                             
                            <br/>
                            <input type="number" name="random_forest_min_samples_split" id="random_forest_min_samples_split" value="2">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="random_forest_min_samples_split_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                                  
                            <hr/>
                            <b>min_samples_leaf:</b> The minimum number of samples required to be at a leaf node. 
                            Takes <strong>integer</strong> and/or <strong>float</strong> (decimal) values.                            
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="random_forest_min_samples_leaf_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="random_forest_min_samples_leaf_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="number" name="random_forest_min_samples_leaf" id="random_forest_min_samples_leaf" value="1">                            
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="random_forest_min_samples_leaf_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                            <hr/>
                            <b>max_features:</b> The number of features to consider when looking for the best
                            split. Can take <strong>integer</strong> values and some functions.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="random_forest_max_features_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="random_forest_max_features_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <ul>
                                <li>If integer, then consider that number</li>
                                <li>If <i>auto</i>, then consider all the features</li>
                                <li>If <i>sqrt</i>, then consider the square root of the provided number ( e.g. sgrt(5) )</li>
                                <li>If <i>log2</i> then consider the logarithm with base 2 of the provided number ( e.g log2(3) )</li>                                
                            </ul>
                            <br/>
                            <input type="text number" name="random_forest_max_features" id="random_forest_max_features" value="auto">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="random_forest_max_features_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                        </div>                        
                        <!--------------------------------------------------->

                        <!-------------Support Vector Machines--------------->
                        <div id="svr_parameters" style="display: none">
                            <hr/>
                            <b>kernel:</b> The kernel type to be used in the algorithm.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_kernel_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_kernel_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->
                            <br/>
                            <select name="svr_kernel" id="svr_kernel" class="custom-select" style="max-width: 250px;">
                                <option selected value="rbf">rbf</option>
                                <option value="linear">Linear</option>
                                <option value="poly">Polynomial</option>
                                <option value="sigmoid">sigmoid</option>
                            </select>
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_kernel_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->
                            <hr/>
                            <b>degree:</b> Degree of the polynomial kernel function only. Ignored by all other kernels.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_degree_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_degree_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="number" name="svr_degree" id="svr_degree" value="3">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_degree_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>gamma:</b> Kernel coefficient for <i>rbf</i>, <i>poly</i> and <i>sigmoid</i>.
                            Ignored by all other kernels. Takes <strong>integer</strong> values
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_gamma_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_gamma_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="number text" name="svr_gamma" id="svr_gamma" value="auto">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_gamma_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>tol:</b> Tolerance for stopping criterion.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_tol_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_tol_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="text" name="svr_tol" id="svr_tol" value="0.001">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_tol_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>C:</b> Penalty parameter for C of the error term.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_c_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_c_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="text" name="svr_c" id="svr_c" value="1">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_c_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>epsilon:</b> Epsilon in the epsilon-SVR model. It specifies the 
                            epsilon-tube within which no penalty is associated in the training loss 
                            function with points predicted within a distance epsilon from the actual value.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_epsilon_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_epsilon_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="text" name="svr_epsilon" id="svr_epsilon" value="0.1">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_epsilon_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                            <hr/>
                            <b>max_iter:</b> Hard limit on iterations within solver, or -1 for no limit.
                            <!-----Section for the add and remove buttons---->
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" class="button_add" style="display: none;" id="svr_max_iter_button_add" onclick="addElement(this.id)">+</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="button_remove" style="display: none;" id="svr_max_iter_button_remove" onclick="removeElement(this.id)">-</button>    
                                </div>                                                                
                            </div>
                            <!----------------------------------------------->                            
                            <br/>
                            <input type="number" name="svr_max_iter" id="svr_max_iter" value="-1">
                            <!-----Extra added elements for grid search------>
                            <div class="grid_search_block" id="svr_max_iter_grid_search" style="display: none;">
                            </div>
                            <!----------------------------------------------->                            
                        </div>
                        <!--------------------------------------------------->

                    </div>
                    
                </div>

            </div>
    
        </form>   
        <br>                
    </div>    

{% endblock content %}